#results-header{
    margin-top: 50px;
    text-align: center;
}

.user-Choice-Buttons{
    display: flex;
    gap: 10px;
}

ul{
    list-style: none;
}

#score{
    border: 1px solid black;
    text-align: center;
}